<!--iphone rose gold color-->
<body id="main-container">
        <h1 class="h1-homepage">🕹️ Welcome to The Gamerz Blog 🕹️</h1>
    </header>

    <div class="blog-container">
        <!-- Loop through ALL blog entries -->
        {{#each blogs as |blog|}}
            <article class="blog-card">
                <h2>{{blog.title}}</h2>
                <h3 class="user" data-user="{{blog.user_id}}">By {{blog.User.name}}</h3>
                <p>{{blog.sub_heading}}</p>
                <p>{{blog.post}}</p>

                <h3>Comments</h3>
                <ul class="comments-list">
                    {{#each blog.Comments as |comment|}}
                        <li>
                            <span class="comment-user user" id="playstation-comment-user" data-user="{{comment.user_id}}">{{comment.User.name}}:</span>
                            <span class="comment-text">{{comment.comment}}</span>
                        </li>
                    {{/each}}
                </ul>
                 {{!-- Comment Post Modal --}}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target=".commentModal{{blog.id}}">
                  Comment
                </button>
                <!-- Modal -->
                <div class="modal fade commentModal{{blog.id}}" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Make a Comment</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form class="new-comment-form" data-blog="{{blog.id}}">
                          <div class="form-group">
                           <label for="comment">Comment</label>
                           <input type="post" class="form-control" id="comment" placeholder="Comment here!" rows="4">
                          </div>
                          <button type="submit" class="btn btn-primary btn-comment mb-2">Submit Comment</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
            </article>
        {{/each}}
    </div>
</body>

  <script src="/commentPosting.js"></script>