<!--Red and white-->

{{!-- nintendo header --}}
<div class="col-lg-8 mx-auto p-4 py-md-5">
  <header class="pb-3" id="nintendoHeader">
    <a href="/blogs/nintendo" class="d-flex align-items-center text-decoration-none"></a>
      <img class="me-2" width="65" height="65" src="/img/nitendologo.jpg"></img>
      <span class="fs-4">Nintendo</span>
    </a>
  </header>

{{!-- First blog entry --}}
<div class="nintendoContainer">
{{#each blogs as |blog|}}
  <main>
    <h1 class="text-body-emphasis">{{blog.title}}</h1>
    <h2 class="fs-5 col-md-8">{{blog.User.name}}</h2>
    <h3 class="fs-5 col-md-8">{{blog.id}}</h3>
    

    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
      <div class="col-md-6">
        <h2 class="text-body-emphasis">{{blog.sub_heading}}</h2>
        <p>{{blog.post}}</p>
      </div>

      <div>
        <h2 class="text-body-emphasis">Comments</h2>
       
        <div class="mb-5">
        <ul class="list-unstyled ps-0">
          {{#each blog.Comments as |comment|}}
          <li>
            <h2 class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"/></h2>
              {{comment.comment}}
            <a class="icon-link mb-1" href="#" data-user= "{{comment.user_id}}">
              {{comment.User.name}}
            </a>
          </li>
          {{/each}}
        </ul>
        {{!-- Comment Post Modal --}}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target=".commentModal{{blog.id}}">
          Post a comment to this Blog?
        </button>
        <!-- Modal -->
        <div class="modal fade commentModal{{blog.id}}" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Make a Comment</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form class="new-comment-form" data-blog="{{blog.id}}">
                  <div class="form-group">
                    <label for="comment">Comment</label>
                    <input type="post" class="form-control" id="comment" placeholder="Comment here!" rows="4">
                  </div>
                    <button type="submit" class="btn btn-primary btn-comment mb-2">Submit Comment</button>
                </form>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </main>
{{/each}}
</div>
  <footer class="pt-5 my-5 text-body-secondary border-top">
    Created by Conal, Hailey, Hannah, and Zach &middot; &copy; 2023
  </footer>
</div>

  <script src="/blogPosting.js"></script>
  <script src="/commentPosting.js"></script>