<!--Red and white-->

{{!-- nintendo header --}}
<div class="col-lg-8 mx-auto p-4 py-md-5">
  <header class="pb-3" id="nintendoHeader">
    <a href="/blogs/nintendo" class="d-flex align-items-center text-decoration-none"></a>
      <img class="me-2" width="65" height="65" src="/img/nitendologo.jpg"></img>
      <span class="fs-4">Nintendo</span>
      
    </a>
  </header>

  {{!-- Create a new post --}}
 <form id="blog-post-form">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br>

        <label for="content">Content:</label><br>
        <textarea id="content" name="content" rows="4" cols="50" required></textarea><br>

        <button type="submit">Post</button>
    </form>

    
{{!-- First blog entry --}}
<div class="nintendoContainer">
{{#each blogs as |blog|}}
  <main>
    <h1 class="text-body-emphasis">{{blog.title}}</h1>
    <h2 class="fs-5 col-md-8">{{blog.User.name}}</h2>

    

    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
      <div class="col-md-6">
        <h2 class="text-body-emphasis">{{blog.sub_heading}}</h2>
        <p>{{blog.post}}</p>
      </div>

      <div>
        <h2 class="text-body-emphasis">Comments</h2>
       
        <div class="mb-5">
            <a href="../examples/" class="btn btn-primary btn-lg px-4">Comment</a>
        </div>
        <ul class="list-unstyled ps-0">
          {{#each blog.Comments as |comment|}}
          <li>
            <h2 class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"/></h2>
              {{comment.comment}}
            <a class="icon-link mb-1" href="#" data-user= "{{comment.user_id}}">
              {{comment.User.name}}
            </a>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </main>
{{/each}}
</div>
  <footer class="pt-5 my-5 text-body-secondary border-top">
    Created by Conal, Hailey, Hannah, and Zach &middot; &copy; 2023
  </footer>
</div>