<!--Blue and white-->
    <div class="col-lg-8 mx-auto p-4 py-md-5">
  <header class="pb-3" id="nintendoHeader">
    <a href="/blogs/nintendo" class="d-flex align-items-center text-decoration-none"></a>
      <img class="me-2" width="65" height="65" src="/img/nitendologo.jpg"></img>
      <span class="fs-4">Welcome to the PlayStation Blog!</span>
      
    </a>
  </header>

<button type="submit">Post</button>

<div class="blog-container">
        <!-- Loop through ALL Playstation blog entries -->
        {{#each blogs as |blog|}}
            <article class="blog-card">
                <h2>{{blog.title}}</h2>
                <h3 class="user" data-user="{{blog.user_id}}">By {{blog.User.name}}</h3>
                <p>{{blog.sub_heading}}</p>
                <p>{{blog.post}}</p>

                <h3>Comments</h3>
                <ul class="comments-list">
                    {{#each blog.Comments as |comment|}}
                        <li>
                            <span class="comment-user user" data-user="{{comment.user_id}}">{{comment.User.name}}:</span>
                            <span class="comment-text">{{comment.comment}}</span>
                        </li>
                    {{/each}}
                </ul>
                <a href="../examples/" class="comment-link">Comment</a>
            </article>
        {{/each}}
    </div>
     <footer class="pt-5 my-5 text-body-secondary border-top">
    Created by Conal, Hailey, Hannah, and Zach &middot; &copy; 2023
  </footer>
