{{!--Grey--}}
<section>
    <h1>{{user.name}}</h1>
    <h2> Blog Posts </h2>
            {{!-- All the user's blogs --}}
    {{#each user.BlogPosts as |blogpost|}}
    <div>
        {{blogpost.title}}
        <div>
            {{blogpost.post}}
        </div>
        <button type="button" class="btn btn-secondary btn-delete-post" data-blog_id="{{blogpost.id}}">DELETE</button>
    </div>
    {{/each}}
    <h2> Comments </h2>
            {{!-- All the user's comments --}}
    {{#each user.Comments as |comment|}}
    <div>
        {{comment.blog_post_id}}
        <div>
            {{comment.comment}}
        </div>
        <button type="button" class="btn btn-secondary btn-delete-comment" data-comment_id="{{comment.id}}">DELETE</button>
    </div>
    {{/each}}
</section>
<script src="profile.js"></script>