{{!--Grey--}}
<body id="profile-body">
<section id="profile-section">
    <h1 id="profile-h1">{{user.name}}</h1>
    <h2 id="profile-h2"> Blog Posts </h2>
            {{!-- All the user's blogs --}}
    {{#each user.BlogPosts as |blogpost|}}
    <div id="profile=div">
        {{blogpost.title}}
        <div>
            {{blogpost.post}}
        </div>
        <button type="button" class="btn btn-secondary btn-delete-post" data-blog_id="{{blogpost.id}}">DELETE</button>
    </div>
    {{/each}}
    <h2> Comments </h2>
            {{!-- All the user's comments --}}
    {{#each user.Comments as |comment|}}
    <div>
        {{comment.blog_post_id}}
        <div>
            {{comment.comment}}
        </div>
        <button type="button" class="btn btn-secondary btn-delete-comment" id="profile-btn-secondary" data-comment_id="{{comment.id}}">DELETE</button>
    </div>
    {{/each}}
</section>
<script src="profile.js"></script>
</body>